---
import Layout from "../layouts/Layout.astro";
import Darkmodeswitch from "../components/Darkmodeswitch.astro";
---

<Layout title="Tailwind CSS Dark Mode Switch Astro Sample">
  <main class="grid place-content-center min-h-screen bg-white dark:bg-slate-800 py-16 px-4">
    <div class="text-center p-6 border border-slate-100 rounded-md dark:border-slate-50/20">
      <div class="inline-block">
        <Darkmodeswitch />
      </div>
    </div>
    <div class="mt-16 prose prose-slate dark:prose-invert mx-auto">
      <h1>Sample Text</h1>
      <h2>Lorem Ipsum</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et nulla vitae diam consectetur consequat ac quis leo. Ut nec sodales dolor, id facilisis augue. Sed massa tellus, tempus in nisl
        id, fermentum rhoncus sapien. Pellentesque auctor purus diam, non lobortis turpis aliquam vel. Sed sed urna vitae velit tincidunt viverra. Nulla ullamcorper porta ullamcorper. Pellentesque
        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris sem turpis, sollicitudin quis purus sit amet, viverra rutrum dui. Proin vehicula rutrum augue, non
        ultricies tortor semper ut. Aliquam erat volutpat. Ut fringilla neque ac tortor condimentum, a accumsan elit semper. Etiam velit velit, gravida sed lacus quis, feugiat bibendum nunc. Fusce
        faucibus elementum nibh. Pellentesque viverra vehicula dapibus.
      </p>
      <p>
        In id mollis turpis, et placerat orci. Ut nec aliquet mauris. Duis in ligula lacinia, suscipit est non, lobortis est. Morbi luctus elit id euismod scelerisque. Vestibulum lobortis tellus
        nulla, id rutrum sem rutrum vulputate. Integer nec nulla aliquet, imperdiet turpis id, tristique lectus. Nullam ut mi a mauris mattis sodales. Ut mollis interdum semper. Donec accumsan
        ultricies metus, eget congue ipsum aliquet at. Integer sed efficitur sapien. Donec congue tellus vitae erat malesuada blandit. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Praesent leo metus, malesuada auctor orci pretium, placerat sollicitudin nisi.
      </p>
      <h3>What is Lorem Ipsum?</h3>
      <p><a href="https://ja.wikipedia.org/wiki/Lorem_ipsum" hreflang="ja">Lorem Ipsum</a> is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </main>
</Layout>
